* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    background-color: darkmagenta;
    /* background-image: url("./images/./snakes1.jpg"); */
}

#gameboard {
    display: flex;
    flex-direction: column;
}

#preview-gameboard {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.empty-field {
    display: flex;
    background-color: black;
}
.field {
    width: 20px;
    height: 20px;
}

.preview-field {
   width: 20px;
   height: 20px; 
}

.snake-head {
    display: flex;
    background-color: rgb(255, 0, 13);
}

.snake-body {
    display: flex;
    background-color: rgb(121, 16, 21);
}

.food {
    display: flex;
    background-color: rgb(255, 255, 255);
}

.speed-button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 0;
    border: none;
    background-color: darkorange;
    margin: 10px;
    font-family: 'Press Start 2P', cursive;
}

.speed-button:hover {
    background-color: rgb(251, 216, 62);
    color: rgb(36, 36, 36);
}

#start-game-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
    width: 100vw;
    height: 100vh;
}

#settings-container {
    display: flex; 
    justify-content: center;
    margin: 10px;
}

#start-game-button {
    margin-top: 40px;
    width: 300px;
    height: 60px;
    font-size: large;
    font-weight: bold;
    background-color: blueviolet;
    font-family: 'Press Start 2P', cursive;
}

#start-game-button:hover {
    background-color: violet;
    color: rgb(36, 36, 36);
}

#main-game-window {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
}

#top-menu-main-window {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#score-container {
    display: flex;

}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    font-size: 15vw;
    color: darkmagenta;
    font-family: 'Press Start 2P', cursive;
    
}

#start-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 100vw;
    font-size: 5vh;
}

#exit-game-button {
    font-family: 'Press Start 2P', cursive;
}

#game-over-screen {
    display: flex;
    z-index: 10;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 3vw;
}

.game-over-text {
    background-color: white;
}

#menu-text {
    font-size: 30px;
}

#preview-and-buttons-container {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 780px) {
    #menu-text {
        font-size: 15px;
    }

    #preview-and-buttons-container {
        transform: scale(0.5);
    }

    #start-game-button {
        margin-top: 10px;
        width: 200px;
        height: 30px;
        font-size: medium;
        font-weight: bold;
        background-color: blueviolet;
        font-family: 'Press Start 2P', cursive;
    }

    .field {
        width: 2vw;
        height: 2vw;
    }
}

@media screen and (max-width: 950px) {
    #gameboard {
        transform: scale(100vw/0.6);
    }

    /* #top-menu-main-window {
        transform: scale(calc(100vh*0.6));
    } */
}